@charset "utf-8";
/* CSS Document */
/* {
	box-sizing: border-box;

}*/

body {
	background-image: url("../images/Fond_nou.jpg");
	background-position: center top;
  	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;
	width:100%;
	height: auto;
	
	}
	
 @media (max-width:768px){
	body {
	background-image: url("../images/Fond_nou_small.jpg");
	background-position: center top;
  	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;
	width:100%;
	height: auto;
	
	}
}
	
	#data {
		float:left;
		height:100%;
		width:55%;
		position:fixed;
		text-align: left;
		font-family: 'Caveat Brush', cursive;
		color:#6e4d43;
		font-size:6vw;
		margin: 1vw;
		padding:1vw;
		top:45%;
	}
	#invitatie {
		float:right;
		height:100%;
		width:40%;
		opacity:1;
	
		margin:2%;
		padding: 2%;
		/* background-image: url("../images/Fond_fara_rama.jpg");
		background-position: center top;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		filter:blur(3px);
		-webkit-filter: blur(3px);
    	-moz-filter: blur(3px);
    	-o-filter: blur(3px);
		-ms-filter: blur(3px); */
		
	}
	/* @media (max-width:768px){
		#invitatie {
		background-image: url("../images/Fond_fara_rama_small.jpg");
		} */
	
	#text_invitatie{
		/* border:1vw solid white; */
		font-family: 'Gloria Hallelujah', cursive;
		color:#402b25;
		font-size: 5.5vw;
		text-align: center;
		opacity:1;
		
	}
	#rosa {
		font-family: 'Shadows Into Light', cursive;
		font-size:7vw;
		/*text-shadow: 2px 2px #742545;*/
		font-weight: bold;
		color:#c95986;
	}
	#parinti {
		font-family: 'Shadows Into Light', cursive;
		font-size:7vw;
		color:#c95986/*#f9ecf1*/;
		font-weight: bold;
	}
	

	#telefon {
		clear: both;
		width:50%;
		float: right;
		font-family: 'Nanum Brush Script', cursive;
		color:#6e4d43;
		text-align: center;
		font-size:6vw;
	}


img {
  max-width: 14vw;
  position: relative;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
}


.creator {

	font-size: 1.5vw;
	clear: both;
	float: right;
	margin-right: 1vw;
	padding-right: 1vw;
}

/*font-family: 'Covered By Your Grace', cursive;
font-family: 'Shadows Into Light', cursive; /Rosa si parinti
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Nanum Brush Script', cursive; /CONFIRMARI
font-family: 'Nothing You Could Do', cursive; /
*/


